<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>作物生长数据采集系统平台</title>
<!-- Favicons -->
<link rel="shortcut icon" type="image/png" HREF="../static/img/favicons/favicon.gif"/>
<link rel="icon" type="image/png" HREF="../static/img/favicons/favicon.gif"/>
<link rel="apple-touch-icon" HREF="../static/img/favicons/styler-icon.png" />
<link href="../static/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="topPanel"> 
  <img src="../static/images/logo.gif" title="Trial Services" alt="Trial Services" width="230" height="80" border="0" />
  <br>
  <h1 style="color:black; text-align:center;">作物生长数据采集系统平台</h1>
  <br>
  <br>
  <p id="logout">
        欢迎您，<span>{{ logeduser }}</span> &nbsp; &nbsp;
        <a href="/logout/" style="text-decoration:none; color:#000000">退出</a>
  </p>
  <hr>

  <div id="headerPanelfirst">
    <h2>库房操作</h2>
      <a href="/storagemanage/"></a>
  </div>
  <div id="headerPanelsecond">
    <h2>数据监测</h2>
    <a href="/storagemonitor/"></a></div>
  <div id="headerPanelthird">
    <h2>数据分析</h2>
    <a href=""></a></div>
</div>
<!--<div id="bodyPanel">-->
  <!--<h2>关于我们</h2>-->
  <!--<p class="dotline"><img src="../static/images/blank.gif" alt="" width="1" height="1" /></p>-->
  <!--<p class="capstext">如果您有兴趣将您的作物生长数据采集系统部署到我们的智慧农业服务平台上，请联系我们. <br> E-mail：dfshdjfsdf@126.com</p>-->
  <!--<p class="dotline"><img src="../static/images/blank.gif" alt="" width="1" height="1" /></p>-->
<!--</div>-->
<div id="footerPanel">
  <div id="footerbodyPanel">
    <p class="copyright">copyright © 2015 智慧农业管理平台</p>
  </div>
</div>
</body>
</html>
